.board {
  display: flex;
}

.box {
  flex: 1;
  margin: 0 10px;
  height: 675px;
  background-color: #14161A;
  border-radius: 20px;
  overflow: hidden;
}

.boxHeader {
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
  opacity: 0.8;
  z-index: 1;
}

#backlogbox {
  background-color: #df1263;
}

#doingbox {
  background-color: #FFA500;
}

#reviewbox {
  background-color: #FFD700;
}

#donebox {
  background-color: #00FF00;
}
