.App {
  background-color: black; 
}

.App-header {
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
}

.App-header img {
  height: 50px; 
  margin-right: 10px;
}

.App-header p {
  font-size: 24px;
  font-family: 'Segoe UI', Roboto, 'Open Sans', sans-serif;
}
